grules-rest-server/src/conf/xml-resources/web-service-references/EventoWebService/wsdl/desktop-6s2397t_8080/grules-soap-sever/EventoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://services.soap.grules.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.soap.grules.com/">

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="saveEvento" type="tns:saveEvento"/>

<xs:element name="saveEventoResponse" type="tns:saveEventoResponse"/>

<xs:complexType name="saveEvento">
<xs:sequence>
<xs:element name="arg0" type="tns:evento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="evento">
<xs:sequence>
<xs:element name="alunos" type="tns:aluno" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="semestre" type="xs:string" minOccurs="0"/>
<xs:element name="tema" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="aluno">
<xs:sequence>
<xs:element name="foto" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="matricula" type="xs:string" minOccurs="0"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="periodo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="saveEventoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>